<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.shredos.vault-gate</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/sbin/shredos-vault</string>
        <string>--initramfs</string>
        <string>--config</string>
        <string>/Library/Application Support/ShredOS-Vault/vault.conf</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardInputPath</key>
    <string>/dev/console</string>
    <key>StandardOutputPath</key>
    <string>/dev/console</string>
    <key>StandardErrorPath</key>
    <string>/var/log/shredos-vault.log</string>

    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
